[submodule "tiers/client/src/satori"]
	path = tiers/client/src/satori
	url = git@github.com:jkassis/satori.git
[submodule "tiers/server/src/rustie"]
	path = tiers/server/src/rustie
	url = git@github.com:jkassis/rustie.git
